@import url("https://fonts.googleapis.com/css?family=Magra:700");
@import url("https://fonts.googleapis.com/css?family=Exo:700");
@import url("https://fonts.googleapis.com/css?family=Exo:900");
@import url("https://fonts.googleapis.com/css?family=Chivo:900");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.0/css/mdb.min.css");
@import url("../css/hover.css");
@import url("../css/star-rating-svg.css");
@import url("../node_modules/unitegallery/dist/css/unite-gallery.css");
@import url("../node_modules/owl.carousel/dist/assets/owl.carousel.min.css");
.navbar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-weight: 300;
  height: auto; }

.navbar.navbar-dark .breadcrumb .nav-item .nav-link:hover, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  float: left;
  background: #ff3232;
  width: 100%;
  text-align: center;
  background: linear-gradient(to left, red 50%, transparent 50%);
  background-color: rgba(0, 0, 0, 0);
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto auto;
  background-color: rgba(0, 0, 0, 0);
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto auto;
  background-color: rgba(0, 0, 0, 0);
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto auto;
  background-size: 209% 100%;
  background-position: left bottom;
  transition: all .9s ease;
  border-radius: 31px;
  margin: 20px 10px;
  font-size: 17px;
  font-weight: 700;
  padding: 7px; }

.nav-link-loginbtn {
  border: 2px solid red;
  transform: translateX(2rem);
  width: 100%; }

.navbar.navbar-dark .breadcrumb .nav-item .nav-link:hover, .navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
  background-position: right bottom;
  transition: all .8s ease;
  color: white; }

.navbar .dropdown-menu {
  position: absolute !important;
  border-radius: 40px;
  padding: 15px;
  background-color: #212121;
  margin-top: 20px;
  width: 100%; }
  .navbar .dropdown-menu a {
    font-size: 17px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-top: 20px; }
    .navbar .dropdown-menu a:hover {
      color: white;
      font-size: 22px;
      background-color: red;
      border-radius: 40px;
      padding: 5px;
      font-weight: 400; }

@media (min-width: 300px) and (max-width: 767px) {
  .nav-link-loginbtn {
    border: 2px solid red;
    transform: translateX(0);
    width: 100%; } }

@media (min-width: 1024px) and (max-width: 1200px) {
  .nav-link-loginbtn {
    border: 2px solid red;
    transform: translateX(1rem);
    width: 100%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .nav-link-loginbtn {
    border: 2px solid red;
    transform: translateX(0);
    width: 100%; } }

.website_logo {
  height: 80px;
  width: auto; }

@media (min-width: 300px) and (max-width: 767px) {
  .website_logo {
    height: 50px;
    width: auto;
    padding-left: 1rem; } }

.main_heading {
  background-image: url(../images/body/13355120198734-shutterstock-447070687.png);
  height: 116vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 70%;
  color: orange;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 77%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 77%, 0% 100%); }
  .main_heading-h {
    font-size: 90px;
    font-family: 'Magra', sans-serif;
    color: white;
    font-weight: 1200px;
    position: relative;
    padding-top: 20rem; }
  .main_heading-typer-h1 {
    font-family: 'Magra', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: 100px; }
    .main_heading-typer-h1-2nd {
      font-size: 40px;
      position: relative;
      text-transform: uppercase;
      font-weight: 1200px; }

.btn-danger {
  background-color: transparent !important;
  border-radius: 40px;
  padding: 15px 30px;
  font-size: 19px;
  word-spacing: 5px;
  letter-spacing: 2px;
  font-weight: 500; }

@media (min-width: 300px) and (max-width: 767px) {
  .main_heading-h {
    font-size: 40px;
    padding-top: 12rem; }
  .main_heading-typer-h1 {
    font-size: 20px; }
    .main_heading-typer-h1-2nd {
      font-size: 25px; } }

.btn-danger {
  background-color: transparent !important;
  border-radius: 40px;
  padding: 15px 30px;
  font-size: 13px;
  word-spacing: 5px;
  letter-spacing: 2px;
  font-weight: 500; }

@media (min-width: 768px) and (max-width: 991px) {
  .main_heading-h {
    font-size: 65px;
    padding-top: 13rem; }
  .main_heading-typer-h1 {
    font-size: 35px; }
    .main_heading-typer-h1-2nd {
      font-size: 40px; } }

@media (min-width: 992px) and (max-width: 1024px) {
  .main_heading-h {
    font-size: 65px;
    padding-top: 13rem; }
  .main_heading-typer-h1 {
    font-size: 35px; }
    .main_heading-typer-h1-2nd {
      font-size: 40px; } }

@media (min-width: 1024px) and (max-width: 1200px) {
  .main_heading-h {
    font-size: 65px;
    padding-top: 13rem; }
  .main_heading-typer-h1 {
    font-size: 35px; }
    .main_heading-typer-h1-2nd {
      font-size: 40px; } }

.intro {
  margin-top: 10rem; }
  .intro-heading {
    font-family: 'Exo', sans-serif;
    font-size: 70px;
    margin-bottom: 2rem;
    font-weight: 1200; }
  .intro-desc {
    font-size: 20px;
    text-align: justify;
    position: relative; }
  .intro-image {
    width: 100%;
    height: auto;
    position: absolute;
    transition: all 2s;
    -webkit-box-shadow: 20px 20px 5px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 20px 20px 5px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 20px 20px 5px 1px rgba(0, 0, 0, 0.5);
    margin-top: 6rem;
    float: right; }
    .intro-image:hover {
      transform: scale(1.1); }

.intro2 {
  margin-top: 2rem; }
  .intro2-txt {
    font-size: 20px;
    text-align: justify;
    line-height: 1.4rem; }

@media (min-width: 300px) and (max-width: 767px) {
  .intro {
    margin-top: 5rem; }
    .intro-heading {
      font-family: 'Exo', sans-serif;
      font-size: 35px;
      margin-bottom: 2rem;
      font-weight: 1200; }
    .intro-desc {
      font-size: 15px;
      text-align: justify;
      position: relative;
      padding-left: 9px;
      padding-right: 9px; }
    .intro-image {
      width: 90%;
      position: absolute;
      transition: all 2s;
      -webkit-box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.5);
      box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.5);
      margin-top: 2rem;
      border-radius: 5px; }
      .intro-image:hover {
        transform: scale(1.1); }
  .intro2 {
    margin-top: 19rem; }
    .intro2-txt {
      font-size: 15px;
      text-align: justify;
      padding-left: 9px;
      padding-right: 9px;
      line-height: 1.1rem; } }

@media (min-width: 768px) and (max-width: 991px) {
  .intro {
    margin-top: 5rem; }
    .intro-heading {
      font-family: 'Exo', sans-serif;
      font-size: 34px;
      margin-bottom: 1rem;
      font-weight: 1200; }
    .intro-desc {
      font-size: 15px;
      text-align: justify;
      position: relative;
      padding-left: 9px;
      padding-right: 9px; }
    .intro-image {
      width: 90%;
      position: absolute;
      transition: all 2s;
      -webkit-box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.5);
      box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.5);
      margin-top: 2rem;
      border-radius: 5px; }
      .intro-image:hover {
        transform: scale(1.1); }
  .intro2 {
    margin-top: 1rem; }
    .intro2-txt {
      font-size: 15px;
      text-align: justify;
      padding-left: 9px;
      padding-right: 9px;
      line-height: 1.2rem; } }

.jarallax {
  margin-top: 6rem;
  position: relative;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.2); }
  .jarallax-img {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: auto;
    height: 900px;
    z-index: -1;
    background-position: 10% 90%; }
  .jarallax-icon {
    padding: 30px 0; }
  .jarallax-heading {
    font-family: 'Exo', sans-serif;
    color: white;
    font-weight: 700;
    margin-top: -36px; }
  .jarallax-subheading {
    font-family: 'Exo', sans-serif;
    color: white;
    font-weight: 700;
    margin-top: -12px;
    font-size: 41px; }

@media (min-width: 300px) and (max-width: 767px) {
  .jarallax {
    margin-top: 6rem;
    position: relative;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.2); }
    .jarallax-img {
      position: absolute;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      top: 0;
      left: 0;
      width: auto;
      height: 900px;
      z-index: -1; }
    .jarallax-icon {
      padding-top: 34px;
      height: 9rem;
      margin-top: 16px; }
    .jarallax-heading {
      font-family: 'Exo', sans-serif;
      color: white;
      font-weight: 700;
      margin-top: -28px;
      font-size: 1.4rem; }
    .jarallax-subheading {
      font-family: 'Exo', sans-serif;
      color: white;
      font-weight: 700;
      margin-top: -12px;
      font-size: 41px; }
    .jarallax-box:nth-child(3) {
      margin-bottom: 1rem; } }

@media (min-width: 768px) and (max-width: 991px) {
  .jarallax {
    margin-top: 6rem;
    position: relative;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.2); }
    .jarallax-img {
      position: absolute;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      top: 0;
      left: 0;
      width: auto;
      height: 900px;
      z-index: -1; }
    .jarallax-icon {
      padding: 30px 0;
      height: 9rem; }
    .jarallax-heading {
      font-family: 'Exo', sans-serif;
      color: white;
      font-weight: 700;
      margin-top: -25px; }
    .jarallax-subheading {
      font-family: 'Exo', sans-serif;
      color: white;
      font-weight: 700;
      margin-top: -12px;
      font-size: 41px; } }

@media (min-width: 992px) and (max-width: 1024px) {
  .jarallax {
    margin-top: 6rem;
    position: relative;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.2); }
    .jarallax-img {
      position: absolute;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      top: 0;
      left: 0;
      width: auto;
      height: 900px;
      z-index: -1; }
    .jarallax-icon {
      padding: 30px 0; }
    .jarallax-heading {
      font-family: 'Exo', sans-serif;
      color: white;
      font-weight: 700;
      margin-top: -36px; }
    .jarallax-subheading {
      font-family: 'Exo', sans-serif;
      color: white;
      font-weight: 700;
      margin-top: -12px;
      font-size: 41px; } }

@media (min-width: 1025px) and (max-width: 1200px) {
  .jarallax {
    margin-top: 6rem;
    position: relative;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.2); }
    .jarallax-img {
      position: absolute;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      top: 0;
      left: 0;
      width: auto;
      height: 900px;
      z-index: -1; }
    .jarallax-icon {
      padding: 30px 0; }
    .jarallax-heading {
      font-family: 'Exo', sans-serif;
      color: white;
      font-weight: 700;
      margin-top: -36px; }
    .jarallax-subheading {
      font-family: 'Exo', sans-serif;
      color: white;
      font-weight: 700;
      margin-top: -12px;
      font-size: 41px; } }

.market {
  margin-top: 6rem; }
  .market-div {
    transition: all .2s; }
    .market-div-icon {
      height: 7rem; }
      .market-div-icon-text {
        font-family: 'Chivo', sans-serif;
        font-size: 47px;
        margin-top: -15px; }
  .market-div:nth-child(2) {
    margin-top: 3rem; }
  .market-div:nth-child(3) {
    margin-top: 3rem; }
  .market-heading {
    text-align: right;
    font-family: 'Exo', sans-serif;
    font-size: 70px;
    margin-bottom: 2rem;
    font-weight: 1200; }
  .market-desc {
    margin-top: 3rem;
    text-align: right;
    font-size: 20px; }
  .market-btn {
    font-family: 'Exo', sans-serif;
    margin-top: 3rem;
    background-color: red;
    float: right;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding: 1rem 3.5rem;
    font-size: 1rem;
    transition: all .5s; }
    .market-btn:hover {
      transform: scale(1.1);
      -webkit-box-shadow: 0px 0px 13px 1px red;
      -moz-box-shadow: 0px 0px 13px 1px red;
      box-shadow: 0px 0px 13px 1px red; }

@media (max-width: 767px) {
  .market {
    margin-top: 3rem; }
    .market-div {
      transition: all .2s; }
      .market-div-icon {
        height: 6rem; }
        .market-div-icon-text {
          font-family: 'Chivo', sans-serif;
          font-size: 30px;
          margin-top: -15px; }
    .market-div:nth-child(2) {
      margin-top: 3rem; }
    .market-div:nth-child(3) {
      margin-top: 3rem; }
    .market-heading {
      text-align: right;
      font-family: 'Exo', sans-serif;
      font-size: 35px;
      margin-bottom: 2rem;
      font-weight: 1200;
      margin-top: 2em; }
    .market-desc {
      margin-top: 2rem;
      text-align: right;
      font-size: 15px;
      text-align: justify;
      padding-left: 9px;
      padding-right: 9px; }
    .market-btn {
      font-family: 'Exo', sans-serif;
      margin-top: 1rem;
      background-color: red;
      float: right;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      padding: .9rem 2.5rem;
      font-size: .7rem;
      transition: all .5s; }
      .market-btn:hover {
        transform: scale(1.1);
        -webkit-box-shadow: 0px 0px 13px 1px red;
        -moz-box-shadow: 0px 0px 13px 1px red;
        box-shadow: 0px 0px 13px 1px red; } }

@media (max-width: 991px) {
  .market {
    margin-top: 6rem; }
    .market-div {
      transition: all .2s; }
      .market-div-icon {
        height: 5rem; }
        .market-div-icon-text {
          font-family: 'Chivo', sans-serif;
          font-size: 34px;
          margin-top: -8px; }
    .market-div:nth-child(2) {
      margin-top: 3rem; }
    .market-div:nth-child(3) {
      margin-top: 3rem; }
    .market-heading {
      text-align: right;
      font-family: 'Exo', sans-serif;
      font-size: 34px;
      margin-bottom: 2rem;
      font-weight: 1200; }
    .market-desc {
      margin-top: 3rem;
      text-align: justify;
      font-size: 15px; }
    .market-btn {
      font-family: 'Exo', sans-serif;
      margin-top: 1rem;
      background-color: red;
      float: right;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      padding: .7rem 1.8rem;
      font-size: .8rem;
      transition: all .5s; }
      .market-btn:hover {
        transform: scale(1.1);
        -webkit-box-shadow: 0px 0px 13px 1px red;
        -moz-box-shadow: 0px 0px 13px 1px red;
        box-shadow: 0px 0px 13px 1px red; } }

.nature-heading {
  font-family: 'Exo', sans-serif;
  font-size: 70px;
  margin-top: 3rem; }

.nature-desc {
  font-size: 20px;
  text-align: justify;
  margin-top: 1rem; }

.nature-image1-img1 {
  width: 100%; }

.nature-image2-img2 {
  width: 68%; }

.nature-image3-img3 {
  width: 117%; }

.nature-parallax {
  height: 400px; }

@media (max-width: 767px) {
  .nature-heading {
    font-family: 'Exo', sans-serif;
    font-size: 34px;
    margin-top: 3rem; }
  .nature-desc {
    font-size: 15px;
    text-align: justify;
    margin-top: 1rem;
    padding-left: 9px;
    padding-right: 9px; }
  .nature-image1-img1 {
    width: 67%;
    margin: 0 auto;
    display: block; }
  .nature-image2-img2 {
    width: 48%;
    display: block;
    margin: 0 auto; }
  .nature-image3-img3 {
    width: 42%;
    display: block;
    margin: 0 auto; }
  .nature-parallax {
    height: 200px; } }

@media (max-width: 991px) {
  .nature-heading {
    font-family: 'Exo', sans-serif;
    font-size: 34px;
    margin-top: 3rem; }
  .nature-desc {
    font-size: 15px;
    text-align: justify;
    margin-top: 1rem; }
  .nature-image1-img1 {
    width: 97%;
    margin: 0 auto;
    display: block; }
  .nature-image2-img2 {
    width: 78%;
    display: block;
    margin: 0 auto; }
  .nature-image3-img3 {
    width: 100%;
    display: block;
    margin: 0 auto; }
  .nature-parallax {
    height: 200px; } }

.gallery {
  margin-top: 6rem; }
  .gallery-heading {
    font-family: 'Exo', sans-serif;
    font-size: 70px;
    margin-bottom: 2rem; }

.jarallaxv {
  margin-top: 131px;
  height: 400px; }

@media (max-width: 767px) {
  .gallery {
    margin-top: 6rem; }
    .gallery-heading {
      font-family: 'Exo', sans-serif;
      font-size: 70px;
      margin-bottom: 2rem; }
  .jarallaxv {
    display: none;
    height: 100px; } }

@media (max-width: 991px) {
  .gallery {
    margin-top: 3rem; }
    .gallery-heading {
      font-family: 'Exo', sans-serif;
      font-size: 34px;
      margin-bottom: 2rem; }
  .jarallaxv {
    display: none;
    height: 100px; } }

.service-heading {
  font-family: 'Exo', sans-serif;
  font-size: 70px;
  padding-bottom: 5rem; }
  .service-heading-sub {
    font-family: 'Exo', sans-serif;
    font-size: 30px;
    margin-bottom: 1rem; }

.service-desc {
  font-size: 20px;
  width: 85%;
  text-align: justify; }

.service-img1 {
  width: 50%; }

.service-img2 {
  width: 56%; }

.service-img3 {
  width: 51%; }

.service-box {
  transition: all .5s; }
  .service-box:hover {
    transform: scale(1.1); }

@media (max-width: 767px) {
  .service-heading {
    font-family: 'Exo', sans-serif;
    font-size: 70px;
    padding-bottom: 5rem; }
    .service-heading-sub {
      font-family: 'Exo', sans-serif;
      font-size: 30px;
      margin-bottom: 1rem; }
  .service-desc {
    font-size: 20px;
    width: 85%;
    text-align: justify; }
  .service-img1 {
    width: 50%; }
  .service-img2 {
    width: 56%; }
  .service-img3 {
    width: 51%; }
  .service-box {
    transition: all .5s; }
    .service-box:hover {
      transform: scale(1.1); } }

@media (max-width: 991px) {
  .service-heading {
    font-family: 'Exo', sans-serif;
    font-size: 34px;
    padding-bottom: 2rem;
    margin-top: 3rem; }
    .service-heading-sub {
      font-family: 'Exo', sans-serif;
      font-size: 30px;
      margin-bottom: 1rem; }
  .service-desc {
    font-size: 15px;
    width: 85%;
    text-align: justify; }
  .service-img1 {
    width: 50%; }
  .service-img2 {
    width: 56%; }
  .service-img3 {
    width: 51%; }
  .service-box {
    transition: all .5s; }
    .service-box:hover {
      transform: scale(1.1); } }
